h1{
	color: #E9C116;
	text-align: center;
}

.titulo02{
	text-align: center;
	color: blue;
}

p.ejemplo1{
	font-weight: bold;
	color: #830C66;
}

.tabla{
    width: 800px;
}

.tabla{
	width: 40%;
}

table thead tr {
	height: 50px;
}

table tr td{
	vertical-align: top;
	padding: 10px
}

table tr th{
	font-size: 20px;
	font-style: italic;
	text-align: left;
}
